{
  "openapi": "3.1.0",
  "info": {
    "title": "Glemo API",
    "version": "0.1.0",
    "description": "Glemo is a credential verification network: one API to verify\ncredentials from **any issuer** (W3C Verifiable Credentials 2.0 / Open\nBadges 3.0) with a deterministic, cryptographic verdict.\n\n## Base URLs\n\n| Environment | URL |\n|-------------|-----|\n| Sandbox | `https://api-sandbox.glemo.io` |\n| Production | `https://api.glemo.io` |\n\n## Authentication\n\nSend your API key as a Bearer token:\n\n```bash\ncurl https://api-sandbox.glemo.io/verify \\\n  -H \"Authorization: Bearer glemo_test_...\"\n```\n\nNo key yet? `POST /sandbox/keys` provisions a test key plus two sample\ncredentials. No signup. Follow the\n[quickstart](https://glemo.io/docs/quickstart) for the 5-minute path.\n\n## Verdicts\n\nEvery verification resolves to exactly one of: `valid`, `revoked`,\n`expired`, `tampered`, `not_found`, `not_verifiable`. Never a maybe.\n\n## Errors & rate limits\n\nErrors are JSON with a stable `error` code (`unauthorized`, `forbidden`,\n`validation`, `rate_limited`). Throttled requests return `429` with a\n`Retry-After` header in seconds."
  },
  "servers": [
    {
      "url": "https://api-sandbox.glemo.io",
      "description": "Sandbox"
    },
    {
      "url": "https://api.glemo.io",
      "description": "Production"
    }
  ],
  "tags": [
    {
      "name": "Verify",
      "description": "The product: one call, a deterministic verdict."
    },
    {
      "name": "Issue",
      "description": "The supply side: issue verifiable credentials your recipients can hold and anyone can verify. Email is enough. No wallet required."
    },
    {
      "name": "Sandbox",
      "description": "Self-serve test keys and sample credentials. No signup, rate-limited."
    },
    {
      "name": "Trust marks",
      "description": "Portable \"Verified by Glemo\" badges tied to real verification events. Each links to a public, server-backed proof."
    },
    {
      "name": "Public verification",
      "description": "Verify a credential from a share link. No API key, rate-limited, no PII."
    },
    {
      "name": "Relying parties",
      "description": "Manage your relying parties, API keys, verification history and usage."
    },
    {
      "name": "Status lists",
      "description": "W3C Status List 2021 credentials: the standard revocation mechanism."
    },
    {
      "name": "Reputation",
      "description": "Issuer reputation from real network activity: the signal only the center of the network can compute."
    },
    {
      "name": "System",
      "description": "Service health."
    }
  ],
  "components": {
    "schemas": {
      "Achievement": {
        "type": "object",
        "properties": {
          "@context": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "id": {
            "type": "string"
          },
          "type": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "name": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "criteria": {
            "type": "object",
            "properties": {
              "narrative": {
                "type": "string"
              }
            },
            "required": [
              "narrative"
            ]
          },
          "achievementType": {
            "type": "string"
          },
          "alignment": {
            "type": "array",
            "items": {
              "type": "object",
              "additionalProperties": {
                "nullable": true
              }
            }
          }
        },
        "required": [
          "@context",
          "id",
          "type",
          "name",
          "description",
          "criteria",
          "achievementType"
        ]
      }
    },
    "parameters": {}
  },
  "paths": {
    "/public/trust-marks/{id}": {
      "get": {
        "tags": [
          "Trust marks"
        ],
        "summary": "Get trust mark proof",
        "description": "The public, server-backed proof a badge links to: verdict, method, issuer and verification date. No API key, no PII.",
        "parameters": [
          {
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "required": true,
            "name": "id",
            "in": "path"
          }
        ],
        "responses": {
          "200": {
            "description": "Proof",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "markId": {
                      "type": "string"
                    },
                    "verdict": {
                      "type": "string"
                    },
                    "method": {
                      "type": "string"
                    },
                    "issuerRef": {
                      "type": "string",
                      "nullable": true
                    },
                    "verifiedAt": {
                      "type": "string"
                    },
                    "relyingPartyName": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "markId",
                    "verdict",
                    "method",
                    "issuerRef",
                    "verifiedAt",
                    "relyingPartyName"
                  ]
                }
              }
            }
          },
          "404": {
            "description": "Not found"
          }
        }
      }
    },
    "/public/orgs/by-domain": {
      "get": {
        "tags": [
          "Organizations"
        ],
        "summary": "Resolve an organization by its custom verify domain",
        "parameters": [
          {
            "schema": {
              "type": "string",
              "minLength": 1
            },
            "required": true,
            "name": "host",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "Branding for the host",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "org": {
                      "nullable": true
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "No organization owns this host",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    },
                    "details": {
                      "nullable": true
                    }
                  },
                  "required": [
                    "error"
                  ]
                }
              }
            }
          },
          "422": {
            "description": "Validation error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    },
                    "details": {
                      "nullable": true
                    }
                  },
                  "required": [
                    "error"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/.well-known/jwks.json": {
      "get": {
        "tags": [
          "Verify"
        ],
        "summary": "The issuer's JSON Web Key Set",
        "responses": {
          "200": {
            "description": "JWK Set",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "keys": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "additionalProperties": {
                          "nullable": true
                        }
                      }
                    }
                  },
                  "required": [
                    "keys"
                  ],
                  "description": "RFC 7517 JWK Set. Every member carries kid, alg and use. The first key is the one this deployment signs with now; the rest are superseded keys, published so a token signed before a rotation stays verifiable. A private half is never present."
                }
              }
            }
          }
        }
      }
    },
    "/verify": {
      "post": {
        "tags": [
          "Verify"
        ],
        "summary": "Verify a credential",
        "description": "`byHash` verifies a registered credential by id; `byVC` verifies a portable VC-JWT (or selectively-disclosed SD-JWT presentation) from any issuer; `byZkTls` verifies a credential from a NON-integrated issuer via a zkTLS proof and Glemo's curated schema registry; `byImage` reads the credential baked into the image (Open Badges 3.0) and verifies it cryptographically, falling back to the verification QR the certificate carries, which names an exact credential and survives a screenshot but says nothing about the file. An image that carries neither returns `not_verifiable`, never `not_found`: a file we cannot read may still depict a credential that exists, and a fuzzy match must never produce a cryptographic verdict. It also runs anti-fraud signal analysis (heuristics and EXIF). Every verdict includes an anti-fraud `risk` score.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "method": {
                    "type": "string",
                    "enum": [
                      "byHash",
                      "byVC",
                      "byZkTls",
                      "byImage"
                    ]
                  },
                  "credentialId": {
                    "type": "string",
                    "format": "uuid"
                  },
                  "jwt": {
                    "type": "string"
                  },
                  "domain": {
                    "type": "string",
                    "example": "coursera.org"
                  },
                  "proof": {
                    "type": "object",
                    "properties": {
                      "engine": {
                        "type": "string",
                        "example": "reclaim"
                      },
                      "payload": {
                        "nullable": true,
                        "description": "Proof payload as produced by the zkTLS engine"
                      }
                    },
                    "required": [
                      "engine"
                    ]
                  },
                  "imageBase64": {
                    "type": "string",
                    "description": "Credential image (PNG/JPEG) or PDF, base64. Max 2 MB decoded."
                  }
                },
                "required": [
                  "method"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Verdict",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "enum": [
                        "valid",
                        "revoked",
                        "expired",
                        "tampered",
                        "not_found",
                        "not_verifiable"
                      ]
                    },
                    "checks": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "name": {
                            "type": "string",
                            "enum": [
                              "accreditation",
                              "anchor",
                              "claims_schema",
                              "decode",
                              "disclosure",
                              "engine_available",
                              "expiration",
                              "issuer_binding",
                              "issuer_present",
                              "issuer_resolved",
                              "lookup",
                              "profile_known",
                              "proof_valid",
                              "provider_schema",
                              "schema",
                              "signature",
                              "status",
                              "subject_binding",
                              "unsupported",
                              "validity_period"
                            ]
                          },
                          "ok": {
                            "type": "boolean"
                          },
                          "detail": {
                            "type": "string"
                          }
                        },
                        "required": [
                          "name",
                          "ok"
                        ]
                      }
                    },
                    "issuer": {
                      "type": "string"
                    },
                    "claims": {
                      "type": "object",
                      "additionalProperties": {
                        "type": "string"
                      }
                    },
                    "risk": {
                      "type": "object",
                      "properties": {
                        "score": {
                          "type": "number"
                        },
                        "signals": {
                          "type": "array",
                          "items": {
                            "type": "string"
                          }
                        }
                      },
                      "required": [
                        "score",
                        "signals"
                      ],
                      "description": "Anti-fraud risk score 0-100. A signal, never a verdict override."
                    },
                    "latencyMs": {
                      "type": "number",
                      "description": "Measured server-side verification time in milliseconds."
                    },
                    "imageLayer": {
                      "type": "string",
                      "enum": [
                        "baked",
                        "qr"
                      ],
                      "description": "Which layer produced an image verdict. `baked` verified a signed credential carried inside the file. `qr` resolved the credential the certificate points at, which survives a screenshot but says nothing about the file. Absent for the other methods, and absent when neither layer could read the image."
                    },
                    "subject": {
                      "type": "object",
                      "properties": {
                        "recipientName": {
                          "type": "string",
                          "nullable": true
                        },
                        "achievementName": {
                          "type": "string",
                          "nullable": true
                        }
                      },
                      "required": [
                        "recipientName",
                        "achievementName"
                      ],
                      "description": "Who and what the credential names. Present when the verdict came from a credential this deployment hosts (`byHash`, and the QR layer of `byImage`). Show it NEXT TO the verdict: a bare `valid` is not actionable for someone holding a document, because a genuine QR can be photographed off a real certificate and placed on a forged one, and the mismatch is only visible if the verifier can read who the credential is actually about. Never includes email or the subject DID."
                    },
                    "imageProvenance": {
                      "type": "object",
                      "properties": {
                        "producer": {
                          "type": "string",
                          "nullable": true
                        },
                        "edited": {
                          "type": "boolean"
                        }
                      },
                      "required": [
                        "producer",
                        "edited"
                      ],
                      "description": "Signed C2PA provenance the IMAGE carries about itself: who produced it, and whether it was edited after production. Absent when the file has no manifest, which is the common case (uploads, screenshots and platform transforms strip metadata) and is NOT evidence of anything."
                    },
                    "report": {
                      "type": "object",
                      "properties": {
                        "status": {
                          "type": "boolean"
                        },
                        "mediaType": {
                          "type": "string"
                        },
                        "controller": {
                          "type": "string",
                          "nullable": true
                        },
                        "warnings": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "type": {
                                "type": "string"
                              },
                              "title": {
                                "type": "string"
                              },
                              "detail": {
                                "type": "string"
                              }
                            },
                            "required": [
                              "type"
                            ]
                          }
                        },
                        "errors": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "type": {
                                "type": "string"
                              },
                              "title": {
                                "type": "string"
                              },
                              "detail": {
                                "type": "string"
                              }
                            },
                            "required": [
                              "type"
                            ]
                          }
                        },
                        "validFrom": {
                          "type": "object",
                          "properties": {
                            "verified": {
                              "type": "boolean"
                            },
                            "value": {
                              "type": "string",
                              "nullable": true
                            }
                          },
                          "required": [
                            "verified",
                            "value"
                          ]
                        },
                        "validUntil": {
                          "type": "object",
                          "properties": {
                            "verified": {
                              "type": "boolean"
                            },
                            "value": {
                              "type": "string",
                              "nullable": true
                            }
                          },
                          "required": [
                            "verified",
                            "value"
                          ]
                        },
                        "credentialStatus": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "purpose": {
                                "type": "string"
                              },
                              "status": {
                                "type": "number"
                              }
                            },
                            "required": [
                              "purpose",
                              "status"
                            ]
                          }
                        },
                        "proof": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "verified": {
                                "type": "boolean"
                              },
                              "value": {
                                "type": "string",
                                "nullable": true
                              }
                            },
                            "required": [
                              "verified",
                              "value"
                            ]
                          }
                        },
                        "provenance": {
                          "type": "string",
                          "enum": [
                            "wallet",
                            "zktls",
                            "artifact",
                            "registry"
                          ]
                        },
                        "observations": {
                          "type": "object",
                          "properties": {
                            "issuerTrusted": {
                              "type": "object",
                              "properties": {
                                "verified": {
                                  "type": "boolean"
                                },
                                "value": {
                                  "type": "boolean",
                                  "nullable": true
                                }
                              },
                              "required": [
                                "verified",
                                "value"
                              ]
                            },
                            "subjectBound": {
                              "type": "object",
                              "properties": {
                                "verified": {
                                  "type": "boolean"
                                },
                                "value": {
                                  "type": "boolean",
                                  "nullable": true
                                }
                              },
                              "required": [
                                "verified",
                                "value"
                              ]
                            }
                          },
                          "required": [
                            "issuerTrusted",
                            "subjectBound"
                          ]
                        }
                      },
                      "required": [
                        "status",
                        "mediaType",
                        "controller",
                        "warnings",
                        "errors",
                        "validFrom",
                        "validUntil",
                        "credentialStatus",
                        "proof",
                        "provenance",
                        "observations"
                      ],
                      "description": "The verification result in the shape W3C VCDM 2.0 section 7.1 mandates, with problem details per section 7.2 (RFC 9457). Each absent fact carries its reason: a fact we cannot compute is null with a warning, never false. Errors are unrecoverable (cryptography, data model); warnings are for status and validity, where what to do is your decision. `provenance` is ours: no published vocabulary describes how a credential reached the verifier."
                    },
                    "signedEvidence": {
                      "type": "string",
                      "description": "A signed record of this verification: what you checked, what came back, and when. A Security Event Token (RFC 8417), typed secevent+jwt, with no expiry because it describes something that already happened. Verify it against /.well-known/jwks.json with any JWT library: no API key and no call to us. Present on every terminal verdict, including the ones that failed. We keep no copy."
                    },
                    "imageAuthenticated": {
                      "type": "boolean",
                      "description": "Whether the IMAGE itself was cryptographically verified, as opposed to the credential it refers to. False for `qr`: a real QR can be pasted onto a forged certificate, so a valid verdict there is about the credential and must not be presented as proof the picture is genuine."
                    }
                  },
                  "required": [
                    "status",
                    "checks",
                    "latencyMs",
                    "report"
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "402": {
            "description": "Monthly quota exceeded (block-policy plans). Upgrade to continue."
          },
          "403": {
            "description": "Forbidden (missing scope or plan feature)"
          }
        }
      }
    },
    "/issue": {
      "post": {
        "tags": [
          "Issue"
        ],
        "summary": "Issue a credential",
        "description": "Issues a W3C VC 2.0 / Open Badges 3.0 credential (VC-JWT plus a selectively-disclosable SD-JWT), anchors it, and, for email recipients, delivers it with a public verification link. Recipients don't need a wallet: an email address is enough.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "recipient": {
                    "type": "object",
                    "properties": {
                      "email": {
                        "type": "string",
                        "format": "email",
                        "example": "ada@example.com"
                      },
                      "did": {
                        "type": "string",
                        "example": "did:web:alice.example.com"
                      },
                      "name": {
                        "type": "string",
                        "example": "Ada Lovelace"
                      }
                    }
                  },
                  "achievement": {
                    "type": "object",
                    "properties": {
                      "name": {
                        "type": "string",
                        "minLength": 1,
                        "example": "Avalanche Fundamentals"
                      },
                      "description": {
                        "type": "string",
                        "example": "Completed the fundamentals track."
                      },
                      "criteria": {
                        "type": "string",
                        "description": "What the recipient had to do. Markdown is allowed and it is rendered inline: Open Badges 3.0 expects criteria to travel with the credential rather than as a link. Required by the OpenBadgeCredential profile.",
                        "example": "Attend every session and pass the final assessment."
                      }
                    },
                    "required": [
                      "name"
                    ]
                  },
                  "validUntil": {
                    "type": "string",
                    "format": "date-time"
                  },
                  "soulbound": {
                    "type": "boolean"
                  },
                  "sendEmail": {
                    "type": "boolean",
                    "description": "false issues silently: you deliver the publicUrl yourself."
                  },
                  "idempotencyKey": {
                    "type": "string",
                    "minLength": 1,
                    "maxLength": 255,
                    "description": "Your own retry key, scoped to your account. Sending the same key again returns the credential the first call issued, with 200 and duplicate: true, instead of issuing a second one. A retry that arrives while the first call is still signing gets 409 issue_in_flight: try again in a moment.",
                    "example": "invoice-2026-0042"
                  }
                },
                "required": [
                  "recipient",
                  "achievement"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "A previous call with this idempotencyKey already issued this credential. Nothing was issued now.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "duplicate": {
                      "type": "boolean",
                      "example": true
                    },
                    "credentialId": {
                      "type": "string"
                    },
                    "subjectId": {
                      "type": "string"
                    },
                    "publicUrl": {
                      "type": "string"
                    },
                    "jwt": {
                      "type": "string"
                    },
                    "sdJwt": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "credentialId",
                    "subjectId",
                    "publicUrl",
                    "jwt",
                    "sdJwt"
                  ]
                }
              }
            }
          },
          "201": {
            "description": "Credential issued",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "duplicate": {
                      "type": "boolean",
                      "example": true
                    },
                    "credentialId": {
                      "type": "string"
                    },
                    "subjectId": {
                      "type": "string"
                    },
                    "publicUrl": {
                      "type": "string"
                    },
                    "jwt": {
                      "type": "string"
                    },
                    "sdJwt": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "credentialId",
                    "subjectId",
                    "publicUrl",
                    "jwt",
                    "sdJwt"
                  ]
                }
              }
            }
          },
          "400": {
            "description": "The credential profile requires fields the request did not carry"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "409": {
            "description": "An issuance with this idempotencyKey is still in flight. It has no credential id yet, so there is nothing truthful to return: retry shortly."
          }
        }
      }
    },
    "/public/verifications/{credentialId}": {
      "get": {
        "tags": [
          "Public verification"
        ],
        "summary": "Verify a shared credential",
        "description": "No auth. Used by share links and QR codes. Rate-limited; the response never contains PII.",
        "parameters": [
          {
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "required": true,
            "name": "credentialId",
            "in": "path"
          }
        ],
        "responses": {
          "200": {
            "description": "Verdict (not_found is a verdict, never 404)",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string"
                    },
                    "issuerDid": {
                      "type": "string",
                      "nullable": true
                    },
                    "validFrom": {
                      "type": "string",
                      "nullable": true
                    },
                    "validUntil": {
                      "type": "string",
                      "nullable": true
                    },
                    "checkedAt": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "status",
                    "issuerDid",
                    "validFrom",
                    "validUntil",
                    "checkedAt"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/public/credentials/{credentialId}": {
      "get": {
        "tags": [
          "Public verification"
        ],
        "summary": "Public display data for a shared credential",
        "description": "No auth. Powers the public credential page: verdict + the shareable render (name, achievement, issuer, template). Rate-limited. Exposes no email, subjectId or subject DID.",
        "parameters": [
          {
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "required": true,
            "name": "credentialId",
            "in": "path"
          }
        ],
        "responses": {
          "200": {
            "description": "Display payload (not_found is a status, never 404)",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string"
                    },
                    "credentialId": {
                      "type": "string"
                    },
                    "display": {
                      "type": "object",
                      "properties": {
                        "recipientName": {
                          "type": "string",
                          "nullable": true
                        },
                        "achievementName": {
                          "type": "string",
                          "nullable": true
                        },
                        "issueDate": {
                          "type": "string",
                          "nullable": true
                        }
                      },
                      "required": [
                        "recipientName",
                        "achievementName",
                        "issueDate"
                      ]
                    },
                    "render": {
                      "type": "object",
                      "nullable": true,
                      "properties": {
                        "background": {
                          "type": "string",
                          "nullable": true
                        },
                        "fields": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "pointer": {
                                "type": "string"
                              },
                              "kind": {
                                "type": "string"
                              },
                              "overflow": {
                                "type": "string"
                              },
                              "xPct": {
                                "type": "number"
                              },
                              "yPct": {
                                "type": "number"
                              },
                              "widthPct": {
                                "type": "number"
                              },
                              "fontSizePx": {
                                "type": "number"
                              },
                              "weight": {
                                "type": "string"
                              },
                              "align": {
                                "type": "string"
                              },
                              "color": {
                                "type": "string"
                              },
                              "locked": {
                                "type": "boolean"
                              }
                            },
                            "required": [
                              "pointer",
                              "kind",
                              "overflow",
                              "xPct",
                              "yPct",
                              "widthPct",
                              "fontSizePx",
                              "weight",
                              "align",
                              "color",
                              "locked"
                            ]
                          }
                        }
                      },
                      "required": [
                        "background",
                        "fields"
                      ]
                    },
                    "credential": {
                      "type": "object",
                      "additionalProperties": {
                        "nullable": true
                      }
                    },
                    "issuer": {
                      "type": "object",
                      "properties": {
                        "name": {
                          "type": "string",
                          "nullable": true
                        },
                        "logoUrl": {
                          "type": "string",
                          "nullable": true
                        },
                        "websiteUrl": {
                          "type": "string",
                          "nullable": true
                        },
                        "brandColor": {
                          "type": "string",
                          "nullable": true
                        },
                        "whiteLabel": {
                          "type": "boolean"
                        }
                      },
                      "required": [
                        "name",
                        "logoUrl",
                        "websiteUrl",
                        "brandColor",
                        "whiteLabel"
                      ]
                    },
                    "checks": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "name": {
                            "type": "string"
                          },
                          "ok": {
                            "type": "boolean"
                          }
                        },
                        "required": [
                          "name",
                          "ok"
                        ]
                      }
                    },
                    "validFrom": {
                      "type": "string",
                      "nullable": true
                    },
                    "validUntil": {
                      "type": "string",
                      "nullable": true
                    },
                    "checkedAt": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "status",
                    "credentialId",
                    "display",
                    "render",
                    "credential",
                    "issuer",
                    "checks",
                    "validFrom",
                    "validUntil",
                    "checkedAt"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/public/verify/issuers": {
      "get": {
        "tags": [
          "Public verification"
        ],
        "summary": "Supported issuers (the curated verification catalog)",
        "description": "Active issuers Glemo can verify via zkTLS, with the claims each verification promises and whether the mapping is live or sandbox. Public and unauthenticated.",
        "parameters": [
          {
            "schema": {
              "type": "string"
            },
            "required": false,
            "name": "q",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "The catalog, optionally filtered by name or domain",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "providers": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "name": {
                            "type": "string"
                          },
                          "domain": {
                            "type": "string"
                          },
                          "sandbox": {
                            "type": "boolean"
                          },
                          "claims": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            }
                          }
                        },
                        "required": [
                          "name",
                          "domain",
                          "sandbox",
                          "claims"
                        ]
                      }
                    },
                    "total": {
                      "type": "number"
                    }
                  },
                  "required": [
                    "providers",
                    "total"
                  ]
                }
              }
            }
          },
          "429": {
            "description": "Rate limited"
          }
        }
      }
    },
    "/public/achievements/{achievementId}": {
      "get": {
        "tags": [
          "Public verification"
        ],
        "summary": "The achievement a credential asserts",
        "description": "No auth. This is the URL that appears as `credentialSubject.achievement.id` inside every credential of this achievement, and it resolves to the Open Badges 3.0 Achievement object. Archived achievements still resolve: credentials already issued point here forever.",
        "parameters": [
          {
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "required": true,
            "name": "achievementId",
            "in": "path"
          }
        ],
        "responses": {
          "200": {
            "description": "The Achievement as JSON-LD",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Achievement"
                }
              }
            }
          },
          "404": {
            "description": "No such achievement"
          }
        }
      }
    },
    "/public/credentials/{credentialId}/image": {
      "get": {
        "tags": [
          "Public verification"
        ],
        "summary": "The credential image",
        "description": "The rendered certificate. It carries a QR pointing at this credential's public verification page, so uploading it to `POST /verify` with `byImage` returns the credential's real verdict even after a screenshot. It does NOT embed the signed credential: this route needs no authentication, and the signed credential's subject is the recipient's address. The issuer download (`format=baked-png`, authenticated) is the Open Badges 3.0 baked file.",
        "parameters": [
          {
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "required": true,
            "name": "credentialId",
            "in": "path"
          }
        ],
        "responses": {
          "200": {
            "description": "The rendered PNG",
            "content": {
              "image/png": {
                "schema": {
                  "nullable": true
                }
              }
            }
          },
          "503": {
            "description": "The renderer is unavailable"
          }
        }
      }
    },
    "/public/credentials/{credentialId}/disclosable": {
      "get": {
        "tags": [
          "Public verification"
        ],
        "summary": "List the selectively-disclosable fields of a shared credential",
        "description": "No auth. Powers the holder's selective-presentation UI: which claims the credential profile makes disclosable, with their values and label keys. Rate-limited. 404 when the credential has no SD-JWT.",
        "parameters": [
          {
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "required": true,
            "name": "credentialId",
            "in": "path"
          }
        ],
        "responses": {
          "200": {
            "description": "Disclosable fields",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "disclosable": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "field": {
                            "type": "string",
                            "description": "The key the holder names this claim by."
                          },
                          "value": {
                            "type": "string"
                          },
                          "labelKey": {
                            "type": "string",
                            "description": "The i18n key for this claim's label, declared by the credential profile. Clients that do not know it should fall back to showing the field key."
                          }
                        },
                        "required": [
                          "field",
                          "value",
                          "labelKey"
                        ]
                      }
                    }
                  },
                  "required": [
                    "disclosable"
                  ]
                }
              }
            }
          },
          "404": {
            "description": "Credential not found or not selectively presentable"
          }
        }
      }
    },
    "/public/credentials/{credentialId}/present": {
      "post": {
        "tags": [
          "Public verification"
        ],
        "summary": "Generate a selective-disclosure presentation",
        "description": "No auth. The holder chooses which achievement fields to reveal; the response is an SD-JWT presentation that discloses ONLY those fields (hidden fields never travel). Rate-limited. 404 when the credential has no SD-JWT.",
        "parameters": [
          {
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "required": true,
            "name": "credentialId",
            "in": "path"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "reveal": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "description": "Achievement fields to disclose. Unknown fields are ignored.",
                    "example": [
                      "name"
                    ]
                  }
                },
                "required": [
                  "reveal"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "SD-JWT presentation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "presentation": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "presentation"
                  ]
                }
              }
            }
          },
          "404": {
            "description": "Credential not found or not selectively presentable"
          }
        }
      }
    },
    "/sandbox/keys": {
      "post": {
        "tags": [
          "Sandbox"
        ],
        "summary": "Create a sandbox key",
        "description": "Self-serve: returns a test API key plus one valid and one revoked sample credential. Rate-limited (5/hour per IP).",
        "responses": {
          "201": {
            "description": "Test key + sample credential ids",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "apiKey": {
                      "type": "string"
                    },
                    "credentials": {
                      "type": "object",
                      "properties": {
                        "valid": {
                          "type": "string"
                        },
                        "revoked": {
                          "type": "string"
                        }
                      },
                      "required": [
                        "valid",
                        "revoked"
                      ]
                    }
                  },
                  "required": [
                    "apiKey",
                    "credentials"
                  ]
                }
              }
            }
          }
        }
      }
    }
  }
}
